body{
    font-family: cursive;
    background-color: cadetblue;
    text-align: center;
    margin-top: 23%;
    
}

#id{ 
    background-color: rgb(179, 227, 255);
    border: 1px solid black;
    padding: 10px;
    margin: 3px;
    width: 25%;
    margin-left: 37%;
    border-radius: 10px;
}